{% load static %}
<!doctype html>
<html lang="en">
    <head>
    {% include 'includes/meta.html' %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        {% include 'includes/externalcss.html' %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/d4489e94b7.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

        <title>Plantastic {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header>
               
        </header>

        {% if messages %}
        <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
            {% include 'includes/externaljs.html' %} 
        {% endblock %}

    </body>
</html>